{% extends 'base_eng.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="hero h-9/12 mt-32 mx-20 bg-base/30 rounded-box shadow-md backdrop-blur-md backdrop-brightness-95">
    <div class="hero-content flex-col lg:flex-row">
        <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
        <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-green-700 to-violet-700 text-4xl sm:text-5xl font-bold">COMPACTNESS, CONVENIENCE, EFFICIENCY</h1>
        <p class="py-6 first-line:uppercase first-line:tracking-wider first-letter:text-4xl first-letter:font-bold">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn bg-primary">About Us</button>
        </div>
    </div>
</div>
{% endblock %}